/* Google fonts cdn link */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  
  /* font-weight: <weight>; */
  /* font-style: normal;
  font-variation-settings:
    "slnt" 0; */
}


:root{
    --blue-color: #470083;
}

body{
  min-height: 100vh;
}


header{
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.navbar{ 

  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  padding: 0px 72px;
  gap: 55px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);



  /* 

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 72px;
gap: 55px;

width: 1440px;
height: 81px;


background: #FFFFFF;

box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);


flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
 */
}

.logo{

  margin: 0 auto;
  width: 20%;
  height: 46px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

.navlink{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 60%;
  margin: 0 auto;

}

.nav-items{

display: flex;
flex-direction: row;
align-items: center;
padding: 24px 16px;
gap: 4px;
justify-content: space-between;
width: 100%;


}


.nav-items a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
}


.nav-items a:hover{
   color: gray;
}


.right-nav{

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;
  width: 20%;

}


.right-nav a,button{
  color: var(--blue-color);
  font-size: 1rem; 
  font-weight: 500;
  
}


.right-nav button{
  padding: 20px;
}


.hero{
  float: right;
}